@model FurnitureViewModel
@inject IFurnitureData catalog;
@using MebelMarket.Infrastructure.Interfaces
@using MebelMarket.Infrastructure.Mapping
@using System.IO

@{
    ViewData["Title"] = "МебельМаркет - качественная мебель по доступным ценам";
}

<div class="banner-and-hero-area-section">
    <div class="container">
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-4">
                <div class="banner-sidebar mt-30">
                    <div class="banner-single mb-30">
                        <a asp-controller="Furniture" asp-action="Grid" asp-route-id="0" class="banner-img-link">
                            <img class="banner-img opacity-50" src="~/images/banner_images/homeFurniture.png" alt="">
                        </a>
                        <div class="banner-content">
                            <h3 class="banner-text-large">Мебель для дома</h3>
                            <a asp-controller="Furniture" asp-action="Grid" asp-route-id="0" class="hero-button">Перейти в каталог</a>
                        </div>
                    </div>
                    <div class="banner-single">
                        <a asp-controller="Furniture" asp-action="Grid" asp-route-id="0" class="banner-img-link">
                            <img class="banner-img opacity-50" src="~/images/banner_images/officeFurniture.png" alt="">
                        </a>
                        <div class="banner-content">
                            <h3 class="banner-text-large">Офисная мебель</h3>
                            <a asp-controller="Furniture" asp-action="Grid" asp-route-id="0" class="hero-button">Перейти в каталог</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="hero-area-wrapper hero-slider-dots fix-slider-dots">
                    @{
                        var list = catalog.GetNewList().Take(3);
                        var url = $"{ViewBag.wwwroot}/images/products_images/";

                        foreach (var product in list)
                        {
                            <div class="hero-area-single">
                                <div class="hero-area-bg-2">

                                    @if (File.Exists($"{url}/{product.Id}L.jpg"))
                                    {
                                        url = $"/images/products_images/{product.Id}L.jpg";

                                        <img class="hero-img-2 opacity-50" src="@url" alt="">
                                    }
                                    else
                                    {
                                        <img class="hero-img-2 opacity-50" src="~/images/products_images/defaultL.jpg" alt="">
                                    }


                                </div>
                                <div class="hero-content hero-content-2">
                                    <div class="row">
                                        <div class="col-10 col-md-8 col-xl-6 offset-1">
                                            <h2>@product.Name</h2>
                                            <h5>@product.Description</h5>
                                            <br />
                                            <p class="hero-text">
                                                @{
                                                    var priceValue = String.Format("{0:0.##}", product.Price) + " руб.";

                                                    if (product.DiscountValue != null)
                                                    {
                                                        <del class="product-default-price-off">@priceValue</del>
                                                        var price = product.Price * (100 - product.DiscountValue.Value) / 100;
                                                        var discountPriceValue = String.Format("{0:0.##}", price) + " руб.";
                                                        @discountPriceValue
                                                    }
                                                    else
                                                    {
                                                        @priceValue
                                                    }
                                                }
                                            </p>
                                            <a asp-controller="Furniture" asp-action="Index" asp-route-id="@product.Id" class="hero-button">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-tab-section section-top-gap-100" style="margin-top: 25px;">
    <div class="section-content-gap">
        <div class="container">
            <div class="row">
                <div class="section-content d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column">
                    <h3 class="section-title" style="margin: auto; padding-top: 10px;">Акции месяца</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="product-tab-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content tab-animate-zoom">
                        <div class="tab-pane show active">
                            <div class="product-default-slider product-default-slider-4grids-1row">
                                <partial name="Partial/_FurnitureFromSlider" model="@catalog.GetFeaturedList().ToView()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-us-center-area section-top-gap-100" style="margin-top: 25px; margin-bottom: 30px; padding-bottom: 25px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="about-promo-single-item">
                    <img src="~/images/icon/about-icon-1.jpg" alt="">
                    <h6>Ассортимент</h6>
                    <p>Мы предлагаем широкий ассортимент продукции, где каждый сможет найти вариант с подходящим качеством, функционалом и дизайном</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-promo-single-item">
                    <img src="~/images/icon/about-icon-2.jpg" alt="">
                    <h6>Возврат</h6>
                    <p>Мы не просто уважаем мнение наших покупателей, мы доверяем ему. Если продукт, который вы приобрели в наших магазинах не понравился вам по вкусу или не соответствует вашим представлениям о качестве – верните его обратно</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-promo-single-item">
                    <img src="~/images/icon/about-icon-3.jpg" alt="">
                    <h6>Онлайн-поддержка 24/7</h6>
                    <p>Наши менеджеры свяжутся и проконсультируют Вас в любое время суток</p>
                </div>
            </div>
        </div>
    </div>
</div>