@model IEnumerable<FurnitureViewModel>
@{
    ViewData["Title"] = "Каталог мебели - МебельМаркет";
}

<br />
<div class="shop-section">
    <div class="container">
        <div class="col-lg-12">
            <div class="shop-sort-section">
                <div class="container">
                    <div class="row">
                        <div class="sort-box d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column">
                            <div class="sort-tablist">
                                <ul class="tablist nav sort-tab-btn">
                                    <li><a class="nav-link active" data-toggle="tab" href="#layout-3-grid"><img src="~/images/icon/bkg_grid.png" alt=""></a></li>
                                    <li><a class="nav-link" data-toggle="tab" href="#layout-list"><img src="~/images/icon/bkg_list.png" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="sort-select-list">

                                @{
                                    if (ViewBag.usedFilter == "Grid")
                                    {
                                        if (ViewBag.filter == null)
                                        {
                                            <form asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="1" data-ajax="true" data-ajax-method="Get" data_ajax_mode="replace">
                                                <partial name="Partial/_SortOrder" />
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="1" asp-route-filter="@ViewBag.filter" data-ajax="true" data-ajax-method="Get" data_ajax_mode="replace">
                                                <partial name="Partial/_SortOrder" />
                                            </form>
                                        }
                                    }
                                    else if (ViewBag.usedFilter == "FindAny")
                                    {
                                        if (ViewBag.filter == null)
                                        {
                                            <form asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="1" asp-route-search="@ViewBag.usedFilterString" data-ajax="true" data-ajax-method="Get" data_ajax_mode="replace">
                                                <partial name="Partial/_SortOrder" />
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="1" asp-route-search="@ViewBag.usedFilterString" asp-route-filter="@ViewBag.filter" data-ajax="true" data-ajax-method="Get" data_ajax_mode="replace">
                                                <partial name="Partial/_SortOrder" />
                                            </form>
                                        }
                                    }
                                    else
                                    {
                                        if (ViewBag.filter == null)
                                        {
                                            <form asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="1" asp-route-categoryId="@ViewBag.usedCategory" data-ajax="true" data-ajax-method="Get" data_ajax_mode="replace">
                                                <partial name="Partial/_SortOrder" />
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="1" asp-route-categoryId="@ViewBag.usedCategory" asp-route-filter="@ViewBag.filter" data-ajax="true" data-ajax-method="Get" data_ajax_mode="replace">
                                                <partial name="Partial/_SortOrder" />
                                            </form>
                                        }
                                    }
                                }

                            </div>
                            <div class="page-amount">
                                @{
                                    var allcount = ViewBag.allCount;
                                    var usedPage = ViewBag.usedPage;
                                    var first = usedPage;
                                    var second = usedPage * 15;

                                    if (usedPage == 1)
                                    {
                                        first = 1;
                                    }
                                    else first = 15 * (usedPage - 1) + 1;

                                    if (ViewBag.pagesCount == usedPage)
                                    {
                                        second = allcount;
                                    }


                                    <span>Показаны @first – @second из @allcount</span>
                                }

                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-12">

                @{
                    if (Model != null)
                    {
                        <partial name="Partial/_FurnituriesGrid" model="@Model" />
                    }
                }

                <!-- Start Pagination -->
                <div class="page-pagination text-center">
                    <ul>
                        @{
                            if (ViewBag.usedFilter != null && ViewBag.usedCategory != null && ViewBag.usedPage != null && ViewBag.pagesCount != null && ViewBag.pagesCount != 1)
                            {
                                usedPage = ViewBag.usedPage;

                                if (usedPage > 1)
                                {
                                    var beforePage = usedPage - 1;

                                    if (ViewBag.usedFilter == "Grid")
                                    {
                                        <li><a asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="@beforePage">Назад</a></li>
                                        <li><a asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="@beforePage">@beforePage</a></li>
                                    }
                                    else if (ViewBag.usedFilter == "FindAny")
                                    {
                                        <li><a asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-search="@ViewBag.usedFilterString" asp-route-page="@beforePage">Назад</a></li>
                                        <li><a asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-search="@ViewBag.usedFilterString" asp-route-page="@beforePage">@beforePage</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="@beforePage" asp-route-categoryId="@ViewBag.usedCategory">Назад</a></li>
                                        <li><a asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="@beforePage" asp-route-categoryId="@ViewBag.usedCategory">@beforePage</a></li>
                                    }
                                }

                                int addPagesCount = 0;

                                for (int i = usedPage; i < ViewBag.pagesCount + 1; i++)
                                {
                                    if (addPagesCount < 3)
                                    {
                                        addPagesCount++;

                                        if (i == usedPage)
                                        {
                                            if (ViewBag.usedFilter == "Grid")
                                            {
                                                <li><a class="active" asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="@i">@i</a></li>
                                            }
                                            else if (ViewBag.usedFilter == "FindAny")
                                            {
                                                <li><a class="active" asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-search="@ViewBag.usedFilterString" asp-route-page="@i">@i</a></li>
                                            }
                                            else
                                            {
                                                <li><a class="active" asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="@i" asp-route-categoryId="@ViewBag.usedCategory">@i</a></li>
                                            }

                                        }
                                        else
                                        {
                                            if (ViewBag.usedFilter == "Grid")
                                            {
                                                <li><a asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="@i">@i</a></li>
                                            }
                                            else if (ViewBag.usedFilter == "FindAny")
                                            {
                                                <li><a asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="@i" asp-route-search="@ViewBag.usedFilterString">@i</a></li>
                                            }
                                            else
                                            {
                                                <li><a asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="@i" asp-route-categoryId="@ViewBag.usedCategory">@i</a></li>
                                            }
                                        }
                                    }
                                }

                                if (usedPage != ViewBag.pagesCount)
                                {
                                    var nextPage = usedPage + 1;

                                    if (ViewBag.usedFilter == "Grid")
                                    {
                                        <li><a asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="@nextPage">Вперед</a></li>
                                    }
                                    else if (ViewBag.usedFilter == "FindAny")
                                    {
                                        <li><a asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="@nextPage" asp-route-search="@ViewBag.usedFilterString">Вперед</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-controller="Furniture" asp-action="@ViewBag.usedFilter" asp-route-page="@nextPage" asp-route-categoryId="@ViewBag.usedCategory">Вперед</a></li>
                                    }
                                }

                            }
                        }
                    </ul>
                </div> <!-- End Pagination -->

            </div> <!-- End Shop Product Sorting Section  -->
        </div>
    </div>
</div>
