@model FurnitureViewModel
@using System.IO
@using MebelMarket.Infrastructure.Interfaces

@{
    ViewData["Title"] = $"{Model.Name} - МебельМаркет";
}

<style>
    #container {
    text-align:left;
}
.wrap{
    display:inline-block;
    position:relative;
    cursor:pointer;
}
    .wrap p {
        position: absolute;
        opacity: 0;
        top: 50%;
        left: -18%;
        padding: 5px;
        text-align: center;
        width: 113%;
        font-size: 20px;
        line-height: 20px;
        margin-top: -10px;
        z-index: 3;
        transition: 1s;
    }

.wrap img {
    display:block;
    width:36px;
    height:36px;
    margin:5px;
    -webkit-transition:opacity 0.26s ease-out;
    -moz-transition:opacity 0.26s ease-out;
    -ms-transition:opacity 0.26s ease-out;
    -o-transition:opacity 0.26s ease-out;
    transition:opacity 0.26s ease-out;
    transition:1s;
}
#container:hover img {
    opacity:0.5;
}
#container:hover .wrap:hover img {
    opacity:1;
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    -o-transform: scale(5);
    transform: scale(5);
    z-index:2;
    position:relative;
    transition:500ms;
}
.wrap:hover p {
    opacity :1;
}

</style>
<div class="product-details-section" style="margin-top: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-details-gallery-area">
                    <div class="product-large-image product-large-image-horaizontal">

                        @{
                            for (int i = 1; i < 9; i++)
                            {
                                var url = $"{ViewBag.wwwroot}/images/products_images/{Model.Id}S{i}.jpg";

                                if (File.Exists(url))
                                {
                                    url = $"/images/products_images/{Model.Id}S{i}.jpg";

                                    <div class="product-image-large-single zoom-image-hover">
                                        <img src="@url" alt="">
                                    </div>
                                }
                                else if (i == 1)
                                {
                                    url = "/images/products_images/default.jpg";

                                    <div class="product-image-large-single zoom-image-hover">
                                        <img src="@url" alt="">
                                    </div>
                                }
                            }
                        }

                    </div>
                    <div class="product-image-thumb product-image-thumb-horizontal pos-relative">

                        @{
                            for (int i = 1; i < 9; i++)
                            {
                                var url = $"{ViewBag.wwwroot}/images/products_images/{Model.Id}S{i}.jpg";

                                if (File.Exists(url))
                                {
                                    url = $"/images/products_images/{Model.Id}S{i}.jpg";

                                    <div class="zoom-active product-image-thumb-single">
                                        <img class="img-fluid" src="@url" alt="">
                                    </div>
                                }
                                else if (i == 1)
                                {
                                    url = "/images/products_images/default.jpg";

                                    <div class="zoom-active product-image-thumb-single">
                                        <img class="img-fluid" src="@url" alt="">
                                    </div>
                                }
                            }
                        }

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-details-content-area">
                    <div class="product-details-text">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="title">@Model.Name</h4>
                                <div class="price">
                                    @{
                                        var priceValue = String.Format("{0:0.##}", Model.Price) + " руб.";

                                        if (Model.DiscountValue != null)
                                        {
                                            <del>@priceValue</del>
                                            var price = Model.Price * (100 - Model.DiscountValue.Value) / 100;
                                            var discountPriceValue = String.Format("{0:0.##}", price) + "руб.";
                                            @discountPriceValue
                                        }
                                        else
                                        {
                                            @priceValue
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="product-add-to-cart-btn">
                                    <a href="#" data-toggle="modal" data-target="#modalAddcart">Заказать</a>
                                </div>
                            </div>
                        </div>


                        <div class="table_desc">
                            <div class="table_page table-responsive">
                                <table>
                                    <tbody>
                                        @{
                                            if (Model.Width != null && Model.Height != null && Model.Length != null)
                                            {
                                                var states = $"{Model.Width} x {Model.Height} x {Model.Length} см";
                                                <tr>
                                                    <td class="product_name">Размеры ШхВхД:</td>
                                                    <td class="product-price">@states</td>
                                                </tr>
                                            }

                                            if (Model.Upholstery != null)
                                            {
                                                <tr>
                                                    <td class="product_name">Обивка:</td>
                                                    <td class="product-price">@Model.Upholstery</td>
                                                </tr>
                                            }

                                            if (Model.Filler != null)
                                            {
                                                <tr>
                                                    <td class="product_name">Наполнитель:</td>
                                                    <td class="product-price">@Model.Filler</td>
                                                </tr>
                                            }

                                            if (Model.BodyMaterial != null)
                                            {
                                                <tr>
                                                    <td class="product_name">Материал корпуса:</td>
                                                    <td class="product-price">@Model.BodyMaterial</td>
                                                </tr>
                                            }

                                            if (Model.FacadeMaterial != null)
                                            {
                                                <tr>
                                                    <td class="product_name">Материал фасада:</td>
                                                    <td class="product-price">@Model.FacadeMaterial</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        @{
                            if (Model.Color1 || Model.Color2 || Model.Color3 || Model.Color4 || Model.Color5 || Model.Color6 ||
                                Model.Color7 || Model.Color8 || Model.Color9 ||
                                Model.Color10 || Model.Color11 || Model.Color12 ||
                                Model.Color13 || Model.Color14 || Model.Color15)
                            {
                                <div class="variable-single-item">
                                    <br />
                                    <span>Доступные цвета</span>
                                    <ul class="footer-social" style="margin: auto">
                                        <div id="container">
                                            @if (Model.Color1)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/1.jpg" alt="Шимо темный/светлый" />
                                                    <p>Шимо темный/светлый</p>
                                                </div>
                                            }

                                            @if (Model.Color2)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/2.jpg" alt="Венге/дуб" />
                                                    <p>Венге/дуб</p>
                                                </div>
                                            }

                                            @if (Model.Color3)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/2.jpg" alt="Венге" />
                                                    <p>Венге</p>
                                                </div>
                                            }

                                            @if (Model.Color4)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/4.jpg" alt="Дуб сонома" />
                                                    <p>Дуб сонома</p>
                                                </div>
                                            }

                                            @if (Model.Color5)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/5.jpg" alt="Орех" />
                                                    <p>Орех</p>
                                                </div>
                                            }

                                            @if (Model.Color6)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/6.jpg" alt="Вишня" />
                                                    <p>Вишня</p>
                                                </div>
                                            }

                                            @if (Model.Color7)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/7.jpg" alt="Бук" />
                                                    <p>Бук</p>
                                                </div>
                                            }

                                            @if (Model.Color8)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/8.jpg" alt="Дуб" />
                                                    <p>Дуб</p>
                                                </div>
                                            }

                                            @if (Model.Color9)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/9.jpg" alt="Шимо светлый" />
                                                    <p>Шимо светлый</p>
                                                </div>
                                            }

                                            @if (Model.Color10)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/10.jpg" alt="Шимо темный" />
                                                    <p>Шимо темный</p>
                                                </div>
                                            }

                                            @if (Model.Color11)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/11.jpg" alt="Выбеленное дерево" />
                                                    <p>Выбеленное дерево</p>
                                                </div>
                                            }

                                            @if (Model.Color12)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/12.jpg" alt="Дуб сонома/белый" />
                                                    <p>Дуб санома/белый</p>
                                                </div>
                                            }

                                            @if (Model.Color13)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/13.jpg" alt="Дуб/розовый" />
                                                    <p>Дуб/розовый</p>
                                                </div>
                                            }

                                            @if (Model.Color14)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/14.jpg" alt="Дуб/лайм" />
                                                    <p>Дуб/лайм</p>
                                                </div>
                                            }

                                            @if (Model.Color15)
                                            {
                                                <div class="wrap">
                                                    <img src="/images/colors/15.jpg" alt="Дуб/синий" />
                                                    <p>Дуб/синий</p>
                                                </div>
                                            }
                                        </div>
                                    </ul>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-details-content-tab-section section-inner-bg section-top-gap-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-details-content-tab-wrapper">
                    <ul class="nav tablist product-details-content-tab-btn d-flex justify-content-center">
                        <li>
                            <a class="nav-link active" data-toggle="tab" href="#description">
                                <h5>Описание</h5>
                            </a>
                        </li>
                    </ul>
                    <div class="product-details-content-tab">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="description">
                                <div class="single-tab-content-item">
                                    <p>@Model.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@{
    var info = $"{Model.Id.ToString()};{Model.Name};{Model.Price};{Model.DiscountValue.GetValueOrDefault()}";
}

<div class="modal fade" id="modalAddcart" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
        <partial name="Partial/_Order" model="new OrderViewModel() { Description = @info }" />
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>