@model FurnitureViewModel
@using System.IO
@{
    ViewData["Title"] = $"{Model.Name} - МебельМаркет";
}

<!-- Start Product Details Section -->
<div class="product-details-section" style="margin-top: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-details-gallery-area">
                    <div class="product-large-image product-large-image-horaizontal">

                        @{
                            for (int i = 1; i < 9; i++)
                            {
                                var url = $"{ViewBag.wwwroot}/images/products_images/{Model.Id}S{i}.jpg";

                                if (File.Exists(url))
                                {
                                    url = $"/images/products_images/{Model.Id}S{i}.jpg";

                                    <div class="product-image-large-single zoom-image-hover">
                                        <img src="@url" alt="">
                                    </div>
                                }
                                else if (i == 1)
                                {
                                    url = "/images/products_images/default.jpg";

                                    <div class="product-image-large-single zoom-image-hover">
                                        <img src="@url" alt="">
                                    </div>
                                }
                            }
                        }

                    </div>
                    <div class="product-image-thumb product-image-thumb-horizontal pos-relative">

                        @{
                            for (int i = 1; i < 9; i++)
                            {
                                var url = $"{ViewBag.wwwroot}/images/products_images/{Model.Id}S{i}.jpg";

                                if (File.Exists(url))
                                {
                                    url = $"/images/products_images/{Model.Id}S{i}.jpg";

                                    <div class="zoom-active product-image-thumb-single">
                                        <img class="img-fluid" src="@url" alt="">
                                    </div>
                                }
                                else if (i == 1)
                                {
                                    url = "/images/products_images/default.jpg";

                                    <div class="zoom-active product-image-thumb-single">
                                        <img class="img-fluid" src="@url" alt="">
                                    </div>
                                }
                            }
                        }

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-details-content-area">
                    <!-- Start  Product Details Text Area-->
                    <div class="product-details-text">
                        <h4 class="title">@Model.Name</h4>
                        <div class="d-flex align-items-center">
                            <div class="product-review">
                                <span class="review-fill"><i class="fa fa-star"></i></span>
                                <span class="review-fill"><i class="fa fa-star"></i></span>
                                <span class="review-fill"><i class="fa fa-star"></i></span>
                                <span class="review-fill"><i class="fa fa-star"></i></span>
                                <span class="review-fill"><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                        <div class="price">@Model.Price</div>
                        <p>@Model.Description</p>
                    </div> <!-- End  Product Details Text Area-->
                    <!-- Start Product Variable Area -->
                    <div class="product-details-variable">
                        <!-- Product Variable Single Item -->
                        <div class="d-flex align-items-center">
                            <div class="product-add-to-cart-btn">
                                <a href="#" data-toggle="modal" data-target="#modalAddcart">Заказать</a>
                            </div>
                        </div>
                    </div> <!-- End Product Variable Area -->
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Product Details Section -->
<!-- Start Product Content Tab Section -->
<div class="product-details-content-tab-section section-inner-bg section-top-gap-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-details-content-tab-wrapper">

                    <!-- Start Product Details Tab Button -->
                    <ul class="nav tablist product-details-content-tab-btn d-flex justify-content-center">
                        <li>
                            <a class="nav-link active" data-toggle="tab" href="#description">
                                <h5>Описание</h5>
                            </a>
                        </li>
                    </ul> <!-- End Product Details Tab Button -->
                    <!-- Start Product Details Tab Content -->
                    <div class="product-details-content-tab">
                        <div class="tab-content">
                            <!-- Start Product Details Tab Content Singel -->
                            <div class="tab-pane active show" id="description">
                                <div class="single-tab-content-item">
                                    <p>@Model.Description</p>
                                </div>
                            </div> <!-- End Product Details Tab Content Singel -->
                        </div>
                    </div> <!-- End Product Details Tab Content -->

                </div>
            </div>
        </div>
    </div>
</div> <!-- End Product Content Tab Section -->

@{
    var info = $"{Model.Id.ToString()},{Model.Name},{Model.Price}";
}

<div class="modal fade" id="modalAddcart" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
        <partial name="Partial/_Order" model="new OrderViewModel() { Description = @info }" />
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>